Beginning by loading and exploring the dataset, which contains rainfall data for India from 1901 to 2015. Each record provides monthly, seasonal, and annual rainfall measurements.

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import zscore
from statsmodels.tsa.seasonal import seasonal_decompose

rainfall_data = pd.read_csv("D:\\Projects\\Rainfall-Trend-Analysis-in-India\\Rainfall_data.csv")

print("First five rows of the data:\n " , rainfall_data.head())

First five rows of the data:
    REGION  YEAR   JAN   FEB   MAR   APR   MAY    JUN    JUL    AUG    SEP  \
0  INDIA  1901  34.7  37.7  18.0  39.3  50.8  113.4  242.2  272.9  124.4
1  INDIA  1902   7.4   4.3  19.0  43.5  48.3  108.8  284.0  199.7  201.5
2  INDIA  1903  17.0   8.3  31.3  17.1  59.5  118.3  297.0  270.4  199.1
3  INDIA  1904  14.4   9.6  31.8  33.1  72.4  164.8  261.0  206.4  129.6
4  INDIA  1905  25.3  20.9  42.7  33.7  55.7   93.3  252.8  200.8  178.4

     OCT   NOV   DEC  ANNUAL  Jan-Feb  Mar-May  Jun-Sep  Oct-Dec
0   52.7  38.0   8.3  1032.3     72.4    108.1    752.8     99.0
1   61.5  27.9  24.4  1030.2     11.7    110.8    794.0    113.8
2  117.9  36.9  17.7  1190.5     25.3    107.9    884.8    172.5
3   69.0  11.2  16.3  1019.8     24.0    137.4    761.8     96.6
4   51.4   9.7  10.5   975.3     46.2    132.2    725.4     71.6

Dataset Overview

In [ ]:
print("Summary of the data")
print(rainfall_data.info())

Summary of the data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   REGION   115 non-null    object
 1   YEAR     115 non-null    int64
 2   JAN      115 non-null    float64
 3   FEB      115 non-null    float64
 4   MAR      115 non-null    float64
 5   APR      115 non-null    float64
 6   MAY      115 non-null    float64
 7   JUN      115 non-null    float64
 8   JUL      115 non-null    float64
 9   AUG      115 non-null    float64
 10  SEP      115 non-null    float64
 11  OCT      115 non-null    float64
 12  NOV      115 non-null    float64
 13  DEC      115 non-null    float64
 14  ANNUAL   115 non-null    float64
 15  Jan-Feb  115 non-null    float64
 16  Mar-May  115 non-null    float64
 17  Jun-Sep  115 non-null    float64
 18  Oct-Dec  115 non-null    float64
dtypes: float64(17), int64(1), object(1)
memory usage: 17.2+ KB
None

In [21]:
print("Descriptive Statistics")
print(rainfall_data.describe())

Descriptive Statistics
              YEAR         JAN         FEB         MAR         APR  \
count   115.000000  115.000000  115.000000  115.000000  115.000000
mean   1958.000000   19.759130   23.434783   28.254783   38.241739
std      33.341666    9.992628   11.512739   12.286408   10.353040
min    1901.000000    2.700000    2.700000    7.200000   16.100000
25%    1929.500000   13.000000   13.300000   19.750000   31.600000
50%    1958.000000   17.800000   22.500000   25.500000   37.400000
75%    1986.500000   24.850000   30.300000   34.400000   43.850000
max    2015.000000   58.500000   53.800000   63.300000   69.400000

              MAY         JUN         JUL         AUG         SEP         OCT  \
count  115.000000  115.000000  115.000000  115.000000  115.000000  115.000000
mean    62.193913  168.360000  291.022609  258.400870  172.473043   75.701739
std     15.673378   35.569654   41.161390   34.975419   36.641234   28.268152
min     32.100000   86.500000  138.900000  191.700000   96.900000   20.000000
25%     51.600000  144.050000  267.350000  233.950000  144.850000   55.600000
50%     59.500000  165.600000  295.800000  259.300000  173.100000   69.200000
75%     71.200000  192.050000  318.650000  287.950000  198.300000   92.850000
max    114.500000  275.500000  383.400000  335.500000  281.000000  158.800000

              NOV         DEC       ANNUAL     Jan-Feb     Mar-May  \
count  115.000000  115.000000   115.000000  115.000000  115.000000
mean    29.205217   14.980000  1182.034783   43.189565  128.694783
std     16.101056    8.788761   110.686214   14.476335   22.895134
min      3.600000    1.600000   920.800000   11.700000   84.500000
25%     17.300000    9.600000  1102.400000   33.800000  112.350000
50%     26.100000   14.100000  1190.500000   41.300000  125.100000
75%     39.650000   19.000000  1243.550000   51.400000  139.650000
max     74.200000   54.400000  1480.300000   86.300000  209.700000

           Jun-Sep     Oct-Dec
count   115.000000  115.000000
mean    890.260870  119.882609
std      89.179055   32.467126
min     679.500000   52.700000
25%     823.550000   97.050000
50%     897.800000  116.200000
75%     959.650000  142.150000
max    1094.500000  207.500000